# Виртуальные окружения
venv/
venv39/

# Экспорты (будут монтироваться как volume)
exports/

# Git
.git/
.gitignore

# База данных (будет монтироваться как volume)
*.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo 